@font-face {
  font-family: 'Intrum Sans';
  src: url('../assets/fonts/IntrumSans-Medium.eot');
  src: local('Intrum Sans Medium'), local('IntrumSans-Medium'),
      url('../assets/fonts/IntrumSans-Medium.eot') format('embedded-opentype'),
      url('../assets/fonts/IntrumSans-Medium.ttf') format('woff2'),
      url('../assets/fonts/IntrumSans-Medium.woff') format('woff'),
      url('../assets/fonts/IntrumSans-Medium.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



.carousel-caption {
  position: absolute;
margin-bottom: 20px;
  text-align: center;
  
}

.carousel-caption h5,
.carousel-caption p {
  font-family:'Intrum Sans';
   font-size:70px;
   margin-right: -270px;
  margin: 0;
}

.carousel-caption button {
  margin-top: 10px;
}



/* Contact.css */

.carousel-item img {
  object-fit: cover;
  height: 70vh; /* Set the height as needed */
  
}



.carousel-caption h5,
.carousel-caption p {
  margin: 0;
}

.carousel-caption button {
  margin-top: 10px;
}


  .help-section {
    background-color: #634274;
    padding: 50px;
    text-align: left;
    margin-left: -200px;
   

  }
  
  .help-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .help-content h1 {
    color: #ffffff;
    font-size: 60px;
    margin-bottom: -10px 0 16px;
    font-family: 'Intrum Sans';


  }
  
  .help-content p {
    color: #ffffff;
    font-size: 1.2rem;
  }

  .contact-button {
  background-color: #ffffff;
  color: #000000e4;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Intrum Sans';


}

.contact-button-1 {
  background-color: #634274;
  color: #ffffffe4;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Intrum Sans';


}
.contact-button-4 {
background-color: #1D527F;
color: #ffffffe4;
font-size: 1.2rem;
padding: 12px 24px;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
font-family: 'Intrum Sans';


}


.contact-button-3 {
background-color:#993062;
color: #ffffffe4;
font-size: 1.2rem;
padding: 12px 24px;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
font-family: 'Intrum Sans';


}


.contact-button:hover {
  background-color: #bea9b5;
}

@media (max-width: 768px) {
  
  .help-section {
    background-color: #634274;
    padding: 50px;
    text-align: left;
    margin-left: 0px;

  }
  .help-content h1 {
    color: #ffffff;
    font-size: 30px;font-weight: 100;

    font-family: 'Intrum Sans';


  }
  .contact-button {
    background-color: #ffffff;
    color: #000000e4;
    font-size: 1rem;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Intrum Sans';
  
  
  }
  .carousel-caption {
    position: absolute;
  margin-bottom: 20px;
    text-align: center;
  }
  
  .carousel-caption h5,
  .carousel-caption p {
    font-family:'Intrum Sans';
     font-size:30px;
     margin-right: -270px;
    margin: 0;
  }
  
  .carousel-caption button {
    margin-top: 10px;
  }
  
  
  
  
  
  .carousel-caption h5,
  .carousel-caption p {
    margin: 0;
  }
  
  .carousel-caption button {
    margin-top: 10px;
  }
  
  
}


/* Contact.css */

.card-group {
  display: flex;
  justify-content: space-around;
  margin: 70px; /* Adjust margin as needed */
  
}

.card {
  margin: 30px; /* Adjust margin as needed */
  overflow: hidden; /* Hide overflow content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  background-color: #ffffff;

}

.card-body {
  padding: 24px;
  margin-right: 30px;


}

.card-title {
  font-size:40px; /* Increase the font size of the card title */
  margin-bottom: 10px; /* Add margin below the card title */
font-family: 'Intrum Sans';  
font-weight: 600;
text-align: left;
}

.card-text {
  font-size:16px; /* Increase the font size of the card title */
  color: #000000; /* Set a color for the card text */
  font-family:'Intrum Sans',Arial, Helvetica, sans-serif ;
  text-align: left;

}

/* Contact.css */





.card {
  flex: 1; /* Make cards flexible to take equal width within the flex container */
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%; /* Make sure the image takes up the full width of the card */
  height: auto; /* Maintain the aspect ratio of the image */
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 20px); /* Make cards take 50% width on screens 768px and larger */

  }
  .d-flex {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line on smaller screens */
  }
 
}

@media (min-width: 992px) {
  .card {
    flex: 0 0 calc(33.33% - 20px); /* Make cards take 33.33% width on screens 992px and larger */
  }


}



/* Add any other styles as needed */

.custom-footer {
  background-color: #1d858bef; /* Change the background color to your desired color */
  color: rgb(255, 255, 255); /* Set text color to black */
  font-family: 'Intrum Sans';
}

.custom-footer a {
  color: rgb(255, 255, 255) !important; /* Set link color to black */
}

.custom-footer a:hover {
  color: #1d858bef; /* Change link color on hover if needed */
}

.custom-arrow {
  font-size: 24px;
  color: #000000; /* Change the color as needed */
  /* Add any additional styles you want to customize */
  margin-left:500px;
}


.responsive-button {
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.responsive-button i {
  margin-left: -10px;
}

@media only screen and (max-width: 600px) {
  .responsive-button {
      font-size: 14px;
  }
}


/* Add margin between h2 and cards */
.titre {
  font-size:  40px;
  font-family: 'Intrum Sans';
  padding: 50px 15px;
  font-weight: 700;
  margin-bottom: 0 0 16px;

}
