
  .forgot-password-box {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the form heading */
  .forgot-password-heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #000000; /* Set heading color */
  }
  
  /* Style the form input fields */
  .forgot-password-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


  
  /* Style the form button */
  .forgot-password-button {
    width: 100%;
    padding: 10px;
    background-color: #993062;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .view-detail{
    width: 100%;
    padding: 10px;
    background-color: #993062;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-password-button:hover {
    background-color: #1D527F;
  }
  
  .close-button {
    color: black !important;
  }

  
  /* ResetPassword.css */



.heading {
    margin-bottom: 20px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif; /* Adding font family */
    color: #333; /* Adding color */
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: #a73528;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}




form{
	padding-top: 20px;
	font-size: 14px;
	margin-top: 0px;

}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:20px;
}

.login-form{ 
	width:520px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

span{
	font-size:14px;
}

